{{#paper-data-table as |table|}}
  {{#table.head as |head|}}
    {{#if showId}}
      {{#head.column}}#{{/head.column}}
    {{/if}}
    {{#head.column}}Name{{/head.column}}
    {{#head.column}}Actions{{/head.column}}

  {{/table.head}}
  {{#table.body as |body|}}
    {{#each model as |application|}}
      {{#if application.id}}
        {{#body.row  as |row|}}
          {{#if showId}}
            {{#row.cell}}
              {{application.id}}
            {{/row.cell}}
          {{/if}}
          {{#row.cell}}
            {{application.name}}
          {{/row.cell}}
          {{#row.cell}}
            <button {{action "edit" application}}>Edit</button>
          {{/row.cell}}
          {{#row.cell}}
            <button {{action "delete" application}}>Delete</button>
          {{/row.cell}}
        {{/body.row}}
      {{/if}}
    {{/each}}

    {{#body.row  as |row|}}
      {{#row.cell}}
        <button {{action "create"}}>Create new application</button> {{outlet}}
      {{/row.cell}}
      {{#row.cell}}
      {{/row.cell}}
      {{#row.cell}}
      {{/row.cell}}
    {{/body.row}}
  {{/table.body}}
{{/paper-data-table}}
